.searchField {
  width: 95%;
  outline: none !important;
  border: none !important;
  margin: 1rem;
}

.searchBar {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid gray;
  border-radius: 1.5rem;
}

.searchBar > input {
  background: none;
}

.customheader {
  background-color: #d6e7ee;
  color: #000000c5;
}

.dialog {
  overflow: unset !important;
}

.inputActions {
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.7rem;
  border: 1px solid grey;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 65%;
}

.inputActions > input {
  border: none;
  outline: none;
  width: 91%;
  background-color: white;
}

.historyPreview {
  background-color: red;
}
